@charset "utf-8";

$col-distance: 20px;

@for $i from 1 through 12 {
    .col-#{ $i } {
        $w: calc( 100% - ( 100% / 12 * ( #{ 12 - $i } ) ) );
        width: 100%;
        box-sizing: border-box;
        padding: 0 calc( #{ $col-distance } / 2 );
        flex: 0 0 $w;
        max-width: $w;
    }
}
