@charset "utf-8";

$directions: ( t: 'top', b: 'bottom', r: 'right', l: 'left' );

$weights: ( 'bold': bold, 'light': lighter );

$font-serif: "YuMincho", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho", "Times New Roman", serif;
